body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#squareContainer {
    background-color: blue;
    grid-row: 2 / 6;
    grid-column: 3 / 7;
    margin: 0;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 100px;
}

nav {
    background-color: blueviolet;
    grid-row: 2 / 6;
    grid-column: 1;
    text-align: center;
}

#oneOne {
    background-color: cadetblue;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
#oneTwo {
    background-color: cadetblue;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
#oneThree {
    background-color: cadetblue;
    border-bottom: 5px solid black;
}
#twoOne {
    background-color: cadetblue;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
#twoTwo {
    background-color: cadetblue;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
#twoThree {
    background-color: cadetblue;
    border-bottom: 5px solid black;
}
#threeOne {
    background-color: cadetblue;
    border-right: 5px solid black;
}
#threeTwo {
    background-color:cadetblue;
    border-right: 5px solid black;
}
#threeThree {
    background-color:cadetblue;
}
.playerTurn {
    grid-row: 6;
    grid-column: 3 / 5;
    margin: auto;
    font-size: 50px;
}